@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin sectionHeader() {
  font-family: $type_font_headers;
  font-size: $type_tablet_size_header;
  font-weight: 100;
  margin: 0;
  line-height: 1.2;

  @include for-desktop-up() {
    font-size: $type_desktop_size_header;
  }
}

@mixin chapterHeader() {
  font-family: $type_font_headers;
  font-size: $type_tablet_size_header;
  font-weight: 100;
  margin: 0;
  line-height: 1.4;
}

@mixin sectionSubheader() {
  font-size: $type_mobile_size_subheader;
  font-weight: 700;
  padding: 0 2rem;
  margin: 0;

  @include for-desktop-up() {
    display: inline-block;
    border-bottom: 3px dotted;
  }
}
