$type_font_headers: 'Lora', sans-serif;
$type_font_body: 'Lora', serif;

$type_mobile_size_header: 2rem;
$type_mobile_size_subheader: 2rem;
$type_mobile_size_body: 1.4rem;
$type_mobile_leading_body: 1.5;

$type_mobile_size_header: 2rem;
$type_tablet_size_subheader: 2rem;
$type_tablet_size_body: 2rem;
$type_tablet_leading_body: 1.6;

$type_desktop_size_header: 3rem;
$type_desktop_size_subheader: 2rem;
$type_desktop_size_body: 2rem;
$type_desktop_leading_body: 1.8;
