@import 'base';

.ReadMore {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.2s;

  @include for-desktop-up() {
    right: 0.75rem;
  }

  i {
    padding: 2rem;
    padding: 1rem;
  }

  &.ReadMore--collapse {
    i {
      transform: rotate(180deg);
    }
  }
}
