@import 'base';

.ItemHeader {
  position: relative;
}

.ItemHeader__cell {
  min-width: 0;
  margin: 0;
  font-weight: 400;
}

.ItemHeader__name {
  font-size: $type_mobile_size_body;
  font-weight: 400;

  @include for-tablet-portrait-up() {
    font-size: $type_tablet_size_body;
  }

  @include for-desktop-up() {
    font-size: $type_desktop_size_body;
  }
}

.ItemHeader__media {
  position: absolute;
  top: 0;
  right: 0;
}
