@import 'base';

.Chapter {
  padding: 0;
  position: relative;
  text-align: left;
  border-bottom: 0.5rem solid $color_highlight;
  margin: 0 0 3rem;

  &:last-child {
    border-bottom: none;
    margin: 0;
  }

  &.Chapter--collapsed {
    .Chapter__content {
      max-height: 25rem;
      overflow: hidden;

      &:after {
        content: '';
        @include cover();
        background: linear-gradient(180deg,rgba(0,0,0,0) 0%, rgba(255,255,255,1));
      }
    }
  }
}

.Chapter__header,
.Chapter__content {
  padding: 0 2rem;
}

.Chapter__header {
  margin: 0 0 1rem;
  color: $color_body;
  background: $color_background;
  /* background: linear-gradient(to bottom, $color_background 0%, $color_body 100%); */

  @include for-tablet-portrait-up() {
    text-align: center;
  }

  @include for-desktop-up() {

  }


  .Chapter__number {
    display: none;
  }

  .Chapter__name {
    @include sectionHeader();
  }
}

.Chapter__content {
  padding: 2rem 2rem 2rem 4rem;
  position: relative;

  &:after {
    transition: all 0.2;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0%, rgba(255,255,255,0));
  }

  @include for-tablet-portrait-up() {
    max-width: 60rem;
    margin: 0 auto;
  }

  @include for-desktop-up() {
    max-width: 80rem;
  }
}

.List {
  margin: 0;
}

.List__header {
  font-size: $type_mobile_size_body;
  font-weight: 400;
  margin: 0;
  padding: 6.4rem 2rem 0.4rem;
  border-bottom: 1px solid $color_body;
  background-color: $color_body;
  color: $color_background;
  text-align: left;

  @include for-tablet-portrait-up() {
    font-size: $type_tablet_size_body;
  }

  @include for-desktop-up() {
    text-align: center;
    color: $color_body;
    background-color: $color_background;
  }

  span {
    @include for-desktop-up() {
      max-width: 120rem;
      margin: 0 auto;
      display: block;
    }
  }
}

.List__items {
  .Item {
    padding: 2rem;
    text-align: left;
    border-bottom: 1px solid lighten($color_body, 10);
  }

  .ItemHeader,
  .ResourceItem__content {
    @include for-desktop-up() {
      max-width: 120rem;
      margin: 0 auto;
    }
  }

  .ItemHeader__name {
    font-weight: 700;
  }
}

