@import 'base';

a {
  text-decoration: none;
  color: $color_link;
}

p {
  margin: 0 0 2rem;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  line-height: $type_mobile_leading_body;
  font-size: $type_mobile_size_body;
  font-family: $type_font_body;
  color: $color_body;
  display: flex;
  margin: 0;
  padding: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQoU43M2QkAIAwEUdPG9l/btqFEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA5ZUJ7zWQizKAAAAAElFTkSuQmCC);

  @include for-tablet-portrait-up() {
    line-height: $type_tablet_leading_body;
    font-size: $type_tablet_size_body;
  }

  @include for-desktop-up() {
    line-height: $type_desktop_leading_body;
    font-size: $type_desktop_size_body;
  }
}
