@import 'base';

.Section {
  padding: 0;
  margin: 0 0 3rem;
  margin: 0;
  text-align: left;
  position: relative;
  border-bottom: 2rem solid $color_highlight;
  border-bottom: 1rem solid hsl(60, 100%, 79%);

  &.Section--collapsed {
    &:last-child {
      margin: 3rem 0 0;
      margin: 0;
    }

    .Section__header {
      margin: 0;
      border-bottom: 1px solid transparent;
    }
  }

  .Section__header {
    margin: 0;
    padding: 2rem 6rem 2rem 2rem;
    border-bottom: 1px solid $color_border;
    color: $color_body;
    background: rgba($color_background, 0.95);
    position: sticky;
    top: 3rem;
    z-index: 10;
    /* background: linear-gradient(to bottom, $color_background 0%, $color_body 100%); */

    @include for-tablet-portrait-up() {

    }

    @include for-desktop-up() {
      top: 5rem;
    }

    .Section__name {
      @include sectionHeader();
    }
  }
}
